<!DOCTYPE html>
<html>
  <head>
    <title>RentalCars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <center><h1>Rental Cars</h1></center>
    </header>
    <center>
    <nav style="background-color:green;">
         <%= link_to 'Fabricantes', manufacturers_path %>&nbsp;&nbsp;&nbsp;
         <%= link_to 'Filiais', subsidiaries_path %>&nbsp;&nbsp;&nbsp;
         <%= link_to 'Categorias de carros', car_categories_path %>&nbsp;&nbsp;&nbsp;
         <%= link_to 'Modelos de Carros', car_models_path%>
        <%if user_signed_in? %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path%>
        <% end %>
    </nav>
    </center>
    
    <main>
    <%= flash[:notice]%>
    <%= yield %>
    </main>

    <footer><center><h5>RentalCars - TreinaDev 3</br>
                Gabriel Sugai</br>
                <a href="github.com/gabrielsugai">GitHub</a></h5></center></footer>

  </body>
</html>

